### 실습 1. Python

하나는 초등학교에 입학하고 영어를 배웠습니다

배운 영어를 사용하여 단어들을 썼는데, 문득 다른 방법으로 읽고 싶어졌습니다

그래서 가로로 읽는 것이 아니라 세로로 읽어보려고 합니다.

파이썬을 사용하여, 아래 순서에 따라 하나가 읽는 알파벳을 순서대로 작성되게 해주세요

1. 첫 입력으로써, 하나가 쓴 단어가 몇 개 존재하는지 저장한다

2. 첫 입력때 받은 수만큼 입력을 받아 단어들을 각각 저장한다

3. 각각 저장된 단어 빠른 순서를 먼저 입력된 단어부터 출력되게 만든다

아래는 입력과 출력의 예시입니다

입력 예시 )
![Vua](https://i.imgur.com/GR2YsBV.png)

출력 예시 )
![Vae](https://i.imgur.com/3F7uZJ5.png)

Python에서 사용자 입력 함수는 input으로 사용가능합니다

이하 셀에 입력과 출력이 예시와 같이 이뤄지도록 작성해주세요

In [2]:
number = int(input("입력 받을 단어의 수를 정해주세요 : "))
insert = []
length = []
bb = []
i = 1
end = 0
while i <= number:
    word = input("입력 {} : ".format(i))
    sp = list(word)
    bb.append(sp)
    length.append(len(word))
    if end < len(word):
        end = len(word)
    i+=1

i = 0
answer =""
while i < end:
    for j in range(0,number):
        if i < length[j]:
            answer+=bb[j][i]
    i+=1        
    
print("입력받은 단어들을 세로 순서로 출력하면 {}입니다".format(answer))

입력 받을 단어의 수를 정해주세요 : 1
입력 1 : da
입력받은 단어들을 세로 순서로 출력하면 da입니다

### 실습 2. Numpy

In [5]:
import numpy as np

r1=np.random.normal(1,1,(3000))
r2=np.random.normal(-1,1,(1000,3))

1) r1과 r2를 행끼리 붙이고 각 열마다 평균을 구해주세요

   r1과 r2를 붙이기 위해서는 reshape을 사용해야 합니다

In [14]:
r1 = np.array(r1).reshape((1000,3))
r3 = np.vstack((r1,r2))
s = np.sum(r3, axis=0)
print(np.divide(s,1000))
s.shape

[ 0.0300323   0.05699618 -0.01588313]

(3,)

2) r1와 r2를 열끼리 붙이고 각 행마다 표준편차를 구해주세요

   r1과 r2를 붙이기 위해서는 reshape을 사용해야 합니다

In [4]:
r1 = np.array(r1).reshape((1000,3))
r3 = np.hstack((r1,r2))
s = r3.std(axis=0)
print(s)

[1.01239035 0.98812251 1.01857147 1.03977229 0.9967185  1.02027352]

### 실습 3. pandas

In [5]:
import pandas as pd

실습 2에서 만든 값들을 사용하겠습니다

실습 2-1)와 같이 r1과 r2를 행끼리 붙이고 DataFrame으로 만들려합니다

DataFrame의 column 이름이 각각 'a', 'b', 'c'가 되도록 만들어주세요

출력 예시 ) 

![Vae](https://i.imgur.com/fi1jC2e.png)

In [9]:
df_ex = pd.DataFrame(r3, columns = ['a', 'b', 'c'])
df_ex

             a         b         c
0     0.636982  1.686426  1.465863
1    -0.783197  0.060590  1.878598
2     1.704055  0.648502 -0.303492
3     1.278433  0.522446  0.797507
4     0.393563  0.843826  1.203860
...        ...       ...       ...
1995 -0.261959 -1.392602  0.184282
1996 -1.919933 -0.783625 -0.437948
1997 -0.074608 -0.445974 -2.449977
1998  0.538112 -1.833095 -1.087879
1999 -1.085116 -0.068122 -1.390084

[2000 rows x 3 columns]